public/downloads/gamma-proposal-generation.json
{
  "name": "Gamma Proposal Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "90f1e618-1269-4b2e-8728-ad917385b81a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -704,
        0
      ],
      "id": "2bd54855-f4df-4cc2-8f05-7b0fe5938a26",
      "name": "Webhook",
      "webhookId": "90f1e618-1269-4b2e-8728-ad917385b81a"
    },
    {
      "parameters": {
        "transcriptId": "={{ $json.ID }}"
      },
      "type": "@firefliesai/n8n-nodes-fireflies.fireflies",
      "typeVersion": 1,
      "position": [
        -336,
        576
      ],
      "id": "edcabdbd-e9fb-4a9b-b4df-1660b4d155c6",
      "name": "Get Meeting Info",
      "credentials": {
        "firefliesApi": {
          "id": "HqhOZ08udoKhvPgC",
          "name": "Fireflies account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// The incoming data structure\nconst response = items[0].json;\nconst meetingData = response.data;\n\n// Create clean transcript with speaker changes only\nlet transcript = '';\nlet lastSpeaker = null;\n\nmeetingData.sentences.forEach(sentence => {\n  const speakerName = sentence.speaker_name;\n  const text = sentence.ai_filters.text_cleanup;\n  \n  // Only add speaker name if it's different from the last one\n  if (speakerName !== lastSpeaker) {\n    transcript += `\\n${speakerName}:\\n`;\n    lastSpeaker = speakerName;\n  }\n  \n  transcript += `${text} `;\n});\n\n// Extract unique speakers\nconst speakers = meetingData.speakers.map(speaker => speaker.name);\n\n// Return the processed data\nreturn [{\n  json: {\n    transcript: transcript.trim(),\n    speakers: speakers\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        576
      ],
      "id": "51059024-105f-421c-a504-8c4967225c42",
      "name": "Clean Up"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09P4NNT3UZ",
          "mode": "list",
          "cachedResultName": "youtube-testing"
        },
        "message": "=Your meeting: {{ $('Get Meeting Info').item.json.data.title }} just concluded. \n\nWould you like a proposal generated?",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Yes",
            "disapproveLabel": "No"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        32,
        576
      ],
      "id": "98433b5f-ae3f-485e-a906-e4366aacfc7e",
      "name": "Proposal Generation?",
      "webhookId": "fe8dc6a5-8c4c-4174-b331-4ce691f6e380",
      "credentials": {
        "slackApi": {
          "id": "NnowrGbCm9OxnUil",
          "name": "Herk Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a0cff43b-8e2a-43d1-a3ea-d3950e0e89b6",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        576
      ],
      "id": "627e6ca1-d4d8-4142-97b0-3505e41c345f",
      "name": "If"
    },
    {
      "parameters": {
        "model": "google/gemini-3-pro-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        896,
        464
      ],
      "id": "eea5b12c-7034-4b13-8fe4-2f7e22c8d1f6",
      "name": "OpenRouter",
      "credentials": {
        "openRouterApi": {
          "id": "td3utRybtI5wRRtH",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Transcript:\n\n{{ $json.transcript }}",
        "options": {
          "systemMessage": "=# Role\nYou are an expert Senior AI Solutions Consultant and Sales Engineer for **Uppit AI**. Your role is to analyze a raw transcript from a discovery or sales call and transform it into a polished, high-converting, client-ready business proposal.\n\n# Objective\nUsing the provided call transcript, generate a comprehensive and persuasive automation or AI proposal. You must extract real pain points, desired outcomes, operational constraints, and technical requirements directly from the conversation and frame them into a clear business narrative that motivates the client to move forward.\n\n# Important Constraints\n- This proposal is fully client facing.\n- Do NOT include follow-up questions, internal notes, or commentary.\n- Do NOT mention automation, AI generation, or that this was system produced.\n- Make confident assumptions when needed and clearly state them as part of the proposal.\n- If specific data is missing, use clear placeholders such as [Estimated Hours Saved] or [Annual Cost].\n\n# Tone and Style\n- Professional, clear, and business focused.\n- Persuasive but grounded in the client’s own language.\n- Empathetic and specific, showing strong listening and understanding.\n- Avoid unnecessary jargon unless the client explicitly used it.\n\n# Required Proposal Structure\nYou must generate the proposal in the exact order below and clearly separate each section with headers.\n\n---\n\n## 1. Proposal Title Page\n**Instruction:** Create a clean title section at the top of the proposal.\n\n**Include:**\n- Proposal title (example: Automation & AI Optimization Proposal)\n- Client company name\n- Prepared for\n- Prepared by: Uppit AI\n- Current date, which is {{ $now.format('yyyy-MM-dd') }}\n\n---\n\n## 2. Executive Summary\n**Instruction:** Summarize the proposal in 3 to 4 concise sentences.\n\n**Must Include:**\n- The core challenge the company is facing\n- The solution Uppit AI is proposing\n- The expected outcome in terms of efficiency, savings, or growth\n\n---\n\n## 3. Problem and Challenge\n**Instruction:** Expand on the problem in more detail.\n\n**Include:**\n- Current state workflows and manual processes\n- Key pain points using the client’s own language when possible\n- Time, cost, or operational impact of these challenges\n- Emotional or organizational impact such as stress, bottlenecks, or inefficiency\n\n---\n\n## 4. Uppit AI Proposed Solution\n**Instruction:** Clearly describe how Uppit AI will solve the problem.\n\n**Include:**\n- A brief recap of the current workflow\n- A detailed description of the future automated or AI-assisted workflow\n- Step-by-step explanation of how the solution operates\n- Mention any tools, platforms, or systems discussed during the call\n\nFocus on workflows and outcomes, not just technology.\n\n---\n\n## 5. Return on Investment\n**Instruction:** Quantify the business value of the solution.\n\n**Include:**\n- Hours saved per day or per week\n- Weekly or monthly operational savings\n- Translation of time savings into annual cost savings\n- Clear assumptions if exact numbers were not provided\n\n---\n\n## 6. Soft and Intangible Benefits\n**Instruction:** Highlight non-financial benefits.\n\n**Examples:**\n- Reduction in human error\n- Improved employee experience and morale\n- Faster response times\n- Increased accuracy and consistency\n- Improved data security or compliance\n\n---\n\n## 7. Implementation Roadmap\n**Instruction:** Provide a clear timeline broken down by weeks or phases.\n\n**Include:**\n- Estimated duration for each phase\n- What is accomplished during each phase\n- Typical phases may include discovery, build, testing, deployment, and training\n\n---\n\n## 8. Success Metrics\n**Instruction:** Define how success will be measured.\n\n**Explicitly State:**\n- What metrics will be tracked\n- Examples include time saved, accuracy, compliance, response time, or throughput\n- How Uppit AI will demonstrate value to stakeholders\n\n---\n\n## 9. Why Choose Uppit AI\n**Instruction:** Advocate for Uppit AI as the right partner.\n\nYou must include the following value proposition verbatim or lightly adapted for flow:\n\n\"Uppit AI has educated over 20 million people around the world, empowering small to medium-sized businesses with superhuman efficiency by building automations that incorporate AI. Our clients have seen ROI within the first two weeks because we do not just build what you think you need. We examine your business operations to understand the constraints you are facing and identify what will deliver the most leverage. Additionally, we utilize hundreds of reusable components from our proprietary library, significantly reducing development time and cost compared to traditional agencies.\"\n\nEnd this section with a confident close that positions Uppit AI as a long-term strategic partner.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        864,
        400
      ],
      "id": "e3b7f757-06c2-4c5d-a5e1-7df7fed7b87c",
      "name": "Proposal Generator Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://public-api.gamma.app/v1.0/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputText\": \"{{ $json.output.replace(/\\n/g, ' ').replace(/\"/g, \"'\") }}\",\n  \"textMode\": \"preserve\",\n  \"format\": \"presentation\",\n  \"themeId\": \"trqowgdglqnfqto\",\n  \"numCards\": 10,\n  \"cardSplit\": \"auto\",\n  \"additionalInstructions\": \"A professional business proposal\",\n  \"exportAs\": \"pdf\",\n  \"textOptions\": {\n    \"amount\": \"detailed\",\n    \"tone\": \"professional, inspiring\",\n    \"audience\": \"business owner\",\n    \"language\": \"en\"\n  },\n  \"imageOptions\": {\n    \"source\": \"aiGenerated\",\n    \"model\": \"gemini-2.5-flash-image\",\n    \"style\": \"photorealistic\"\n  },\n  \"cardOptions\": {\n    \"dimensions\": \"fluid\",\n    \"headerFooter\": {\n      \"topRight\": {\n        \"type\": \"image\",\n        \"source\": \"themeLogo\",\n        \"size\": \"sm\"\n      },\n      \"bottomRight\": {\n        \"type\": \"cardNumber\"\n      },\n      \"hideFromFirstCard\": true,\n      \"hideFromLastCard\": false\n    }\n  },\n  \"sharingOptions\": {\n    \"workspaceAccess\": \"view\",\n    \"externalAccess\": \"comment\",\n    \"emailOptions\": {\n      \"recipients\": [\"88@gmail.com\"],\n      \"access\": \"comment\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        624
      ],
      "id": "636a28fd-7e16-4170-bef0-cbcc62f8aed0",
      "name": "Gamma Deck",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6duPZ0aPQpsSKN2v",
          "name": "Gamma"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09P4NNT3UZ",
          "mode": "list",
          "cachedResultName": "youtube-testing"
        },
        "text": "=Your Gamma deck is being generated 🎉\n\nYou should receive an email shortly.",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        960,
        624
      ],
      "id": "b5d93d99-4da1-462d-bdab-32626f423911",
      "name": "Notification",
      "webhookId": "d4ad536d-b3f9-414b-b91c-3463688c260e",
      "credentials": {
        "slackApi": {
          "id": "wPjoAuHrr1W0cCye",
          "name": "Herk Bot"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Create Proposal Deck",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Meeting ID",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        32,
        400
      ],
      "id": "2614698d-3295-46e3-8020-36cdebe38747",
      "name": "On form submission",
      "webhookId": "891b2854-b56b-41f5-a05f-dd4d46698fe6"
    },
    {
      "parameters": {
        "transcriptId": "={{ $json['Meeting ID'] }}"
      },
      "type": "@firefliesai/n8n-nodes-fireflies.fireflies",
      "typeVersion": 1,
      "position": [
        208,
        400
      ],
      "id": "12d497e4-95dc-4241-ac21-692af579d5a2",
      "name": "Get Meeting Info1",
      "credentials": {
        "firefliesApi": {
          "id": "HqhOZ08udoKhvPgC",
          "name": "Fireflies account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if we have data\nif (!items || items.length === 0) {\n  throw new Error('No input data received');\n}\n\nconst response = items[0].json;\n\n// Validate the response structure\nif (!response?.data?.sentences || !response?.data?.speakers) {\n  throw new Error('Invalid data structure - missing sentences or speakers');\n}\n\nconst meetingData = response.data;\n\n// Create clean transcript with speaker changes only\nlet transcript = '';\nlet lastSpeaker = null;\n\nmeetingData.sentences.forEach(sentence => {\n  const speakerName = sentence.speaker_name;\n  const text = sentence.ai_filters?.text_cleanup || sentence.text || '';\n  \n  // Only add speaker name if it's different from the last one\n  if (speakerName !== lastSpeaker) {\n    transcript += `\\n${speakerName}:\\n`;\n    lastSpeaker = speakerName;\n  }\n  \n  transcript += `${text} `;\n});\n\n// Extract unique speakers\nconst speakers = meetingData.speakers.map(speaker => speaker.name);\n\n// Return the processed data with id\nreturn [{\n  json: {\n    id: meetingData.id,\n    transcript: transcript.trim(),\n    speakers: speakers\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        400
      ],
      "id": "8b721149-d407-4393-8ff3-5f373a46c4ba",
      "name": "Clean Up1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a925b95a-1693-478a-b866-c012c0169999",
              "name": "transcript",
              "value": "={{ $('Clean Up').item.json.transcript }}",
              "type": "string"
            },
            {
              "id": "322e3764-b60a-4770-90e8-925c5538d896",
              "name": "id",
              "value": "={{ $('Get Meeting Info').item.json.data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        560
      ],
      "id": "1a1a6e7d-2911-436f-9360-04313c3aeeaf",
      "name": "Set Transcript"
    },
    {
      "parameters": {
        "transcriptId": "={{ $json.body.meetingId }}"
      },
      "type": "@firefliesai/n8n-nodes-fireflies.fireflies",
      "typeVersion": 1,
      "position": [
        -384,
        0
      ],
      "id": "c02a5893-0441-410a-bd91-6466f99eaa7c",
      "name": "Get Info",
      "credentials": {
        "firefliesApi": {
          "id": "HqhOZ08udoKhvPgC",
          "name": "Fireflies account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "<YOUR_GOOGLE_DOC_ID_HERE>",
          "mode": "list",
          "cachedResultName": "Meeting Logger",
          "cachedResultUrl": "<YOUR_GOOGLE_DOC_URL_HERE>"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "<YOUR_GOOGLE_DOC_URL_HERE>"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        576
      ],
      "id": "012db9c5-a95f-4525-baa7-4c69e18eb9a4",
      "name": "Google Sheets Trigger",
      "executeOnce": false,
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "eW9cIh4oM5XnELGd",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -512,
        576
      ],
      "id": "34fe7abe-f42c-4444-9112-a163fb465045",
      "name": "Limit"
    },
    {
      "parameters": {
        "content": "## Setup\nSee the accompanying SETUP.md for configuration steps (credentials, trigger, and node setup).",
        "height": 352,
        "width": 1024,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -784,
        -128
      ],
      "id": "6e4cf434-846e-4fdc-a4f8-0fbcf2a4a980",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Setup\nSee the accompanying SETUP.md for configuration steps (credentials, trigger, and node setup).",
        "height": 704,
        "width": 2080,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -784,
        256
      ],
      "id": "c8eb8672-f35d-4e78-8f3e-160a2cd16518",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -544,
        0
      ],
      "id": "e9604b1f-a08b-4288-9af5-87a1dfbc9573",
      "name": "Wait",
      "webhookId": "037f5343-2bd1-492e-b740-fc4a5a6693f3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd3872fd-4732-4776-a4f0-452e27d64da9",
              "leftValue": "={{ $json.data.summary.gist }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        0
      ],
      "id": "a469f4cc-03a5-4646-bc84-d08692abfbac",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "<YOUR_GOOGLE_DOC_ID_HERE>",
          "mode": "list",
          "cachedResultName": "Meeting Logger",
          "cachedResultUrl": "<YOUR_GOOGLE_DOC_URL_HERE>"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "<YOUR_GOOGLE_DOC_URL_HERE>"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Generation Declined",
            "ID": "={{ $('Get Meeting Info').item.json.data.id }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "Date / Time",
              "displayName": "Date / Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Attendees",
              "displayName": "Attendees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gist",
              "displayName": "Gist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        752
      ],
      "id": "8700cce9-6204-4178-942c-298b5ccfd22a",
      "name": "Generation Declined",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vjJ9PbCDOkVNZZRJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0cd20ba9-0c3c-40d8-b3a6-0c2a0176f2f0",
              "name": "transcript",
              "value": "={{ $json.transcript }}",
              "type": "string"
            },
            {
              "id": "d25943d9-7245-4b7d-b43e-30f3052d7ed5",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        464
      ],
      "id": "3f255b36-882f-4842-abb6-b2b2f1c20aef",
      "name": "Standardize"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "<YOUR_GOOGLE_DOC_ID_HERE>",
          "mode": "list",
          "cachedResultName": "Meeting Logger",
          "cachedResultUrl": "<YOUR_GOOGLE_DOC_URL_HERE>"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "<YOUR_GOOGLE_DOC_URL_HERE>"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Generated",
            "ID": "={{ $('Standardize').item.json.id }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "Date / Time",
              "displayName": "Date / Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Attendees",
              "displayName": "Attendees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gist",
              "displayName": "Gist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        624
      ],
      "id": "394ac7b3-ee74-44fc-b200-f3bb31aae53a",
      "name": "Generated",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vjJ9PbCDOkVNZZRJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "<YOUR_GOOGLE_DOC_ID_HERE>",
          "mode": "list",
          "cachedResultName": "Meeting Logger",
          "cachedResultUrl": "<YOUR_GOOGLE_DOC_URL_HERE>"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "<YOUR_GOOGLE_DOC_URL_HERE>"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date / Time": "={{ $now.format('yyyy-MM-dd hh:mm a') }}",
            "Title": "={{ $('Get Info').item.json.data.title }}",
            "Status": "N/A",
            "ID": "={{ $('Get Info').item.json.data.id }}",
            "Attendees": "={{ $json.speakers.join(\", \") }}",
            "Gist": "={{ $('Get Info').item.json.data.summary.gist }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date / Time",
              "displayName": "Date / Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Attendees",
              "displayName": "Attendees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gist",
              "displayName": "Gist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        0
      ],
      "id": "520bafc5-d919-4b2d-8447-94013b411dbe",
      "name": "Log Meeting",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "s7PIUa59FFmDLn1e",
          "name": "Demo 4/2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// The incoming data structure\nconst response = items[0].json;\nconst meetingData = response.data;\n\n// Extract unique speakers\nconst speakers = meetingData.speakers.map(speaker => speaker.name);\n\n// Return only the speakers\nreturn [{\n  json: {\n    speakers: speakers\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        0
      ],
      "id": "54903ef0-21ab-4b18-9aaa-1eac9eeaac05",
      "name": "Attendees"
    },
    {
      "parameters": {
        "content": "## Setup\nSee the accompanying SETUP.md for configuration steps (credentials, trigger, and node setup).",
        "height": 800,
        "width": 816
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1632,
        -128
      ],
      "id": "c6bb4fa8-2cb9-416d-9623-f8858c246270",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Meeting Info": {
      "main": [
        [
          {
            "node": "Clean Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Up": {
      "main": [
        [
          {
            "node": "Proposal Generation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proposal Generation?": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Set Transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generation Declined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter": {
      "ai_languageModel": [
        [
          {
            "node": "Proposal Generator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Proposal Generator Agent": {
      "main": [
        [
          {
            "node": "Gamma Deck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gamma Deck": {
      "main": [
        [
          {
            "node": "Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notification": {
      "main": [
        [
          {
            "node": "Generated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Get Meeting Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Meeting Info1": {
      "main": [
        [
          {
            "node": "Clean Up1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Up1": {
      "main": [
        [
          {
            "node": "Standardize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Transcript": {
      "main": [
        [
          {
            "node": "Standardize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Info": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Get Meeting Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Attendees",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize": {
      "main": [
        [
          {
            "node": "Proposal Generator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attendees": {
      "main": [
        [
          {
            "node": "Log Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cf232fc3-ca0e-4829-afe3-37d24cb351cb",
  "meta": {},
  "id": "wRlfFyCm3tyqvKhA",
  "tags": []
}
