public/downloads/parallelization.json
{
  "name": "Parallelization",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -40,
        -880
      ],
      "id": "1e17ba65-d067-4104-829e-b5d4274f132e",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "<YOUR_GOOGLE_DOC_ID_HERE>",
          "mode": "list",
          "cachedResultName": "Research",
          "cachedResultUrl": "<YOUR_GOOGLE_DOC_URL_HERE>"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "<YOUR_GOOGLE_DOC_URL_HERE>"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Ready"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        100,
        -880
      ],
      "id": "50365b26-0ca0-40db-be0c-9a167c3b72a8",
      "name": "Get Tools",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "s7PIUa59FFmDLn1e",
          "name": "Demo 4/2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        480,
        -800
      ],
      "id": "73626e15-1748-47b7-ba2f-67866e1173af",
      "name": "4.1-mini",
      "credentials": {
        "openRouterApi": {
          "id": "fpo6OUh9TcHg29jk",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"features\": \"A concise paragraph summarizing the core features and capabilities of the tool.\",\n  \"analysis\": \"A well-reasoned paragraph explaining potential business use cases, practical workflow integration ideas, and any industries or roles the tool is especially suited for.\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        720,
        -800
      ],
      "id": "ac50e31f-1e9c-46df-9063-fbc1b8e6608f",
      "name": "Output"
    },
    {
      "parameters": {
        "model": "sonar",
        "messages": {
          "message": [
            {
              "content": "=Do research to find features about this tool: {{ $json.Tool }}."
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        300,
        -880
      ],
      "id": "afe12767-ff4c-4225-9ed2-51797f927530",
      "name": "Perplexity Research",
      "credentials": {
        "perplexityApi": {
          "id": "5djL3YQiuN26EJiA",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "<YOUR_GOOGLE_DOC_ID_HERE>",
          "mode": "list",
          "cachedResultName": "Research",
          "cachedResultUrl": "<YOUR_GOOGLE_DOC_URL_HERE>"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "<YOUR_GOOGLE_DOC_URL_HERE>"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tool": "={{ $('Get Tools').item.json.Tool }}",
            "Features": "={{ $json.output.Features.join(\"\\n\\n\") }}",
            "Status": "Processed",
            "Analysis": "={{ $json.output.Analysis }}"
          },
          "matchingColumns": [
            "Tool"
          ],
          "schema": [
            {
              "id": "Tool",
              "displayName": "Tool",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Features",
              "displayName": "Features",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Analysis",
              "displayName": "Analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        860,
        -880
      ],
      "id": "a6ed737e-f534-4dc3-86b9-7aa2e7d35480",
      "name": "Update Tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "s7PIUa59FFmDLn1e",
          "name": "Demo 4/2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tool: {{ $('Get Tools').item.json.Tool }}\n\nResearch: {{ $json.choices[0].message.content }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are a business analyst AI agent. You will be given the name of a specific software tool, app, or AI product, as well as research about the features.\n\nYour job is to:\n1. Identify and summarize the core features and capabilities of the tool.\n2. Analyze potential use cases for businesses — especially small to mid-sized businesses.\n3. Suggest how this tool could be integrated into workflows, systems, or teams to save time, reduce costs, or increase revenue.\n4. If relevant, highlight any industries or roles this tool is best suited for.\n\n## Output\nOutput your results in the following fields:\n1) Features\n2) Analysis"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        520,
        -900
      ],
      "id": "ec4125c0-630e-410a-8e8d-c3f86f73d4b3",
      "name": "Tool Analysis Agent"
    },
    {
      "parameters": {
        "content": "## Setup\nSee the accompanying SETUP.md for configuration steps (credentials, trigger, and node setup).",
        "height": 300,
        "width": 220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -1000
      ],
      "id": "564b138e-161a-4cac-a410-a9a51130c7c1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Setup\nSee the accompanying SETUP.md for configuration steps (credentials, trigger, and node setup).",
        "height": 300,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        -1000
      ],
      "id": "03e1d827-cf7f-4b20-b66d-d0229f680b50",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Setup\nSee the accompanying SETUP.md for configuration steps (credentials, trigger, and node setup).",
        "height": 400,
        "width": 1080
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        -1420
      ],
      "id": "960e2a2d-0cbd-4cb4-8e03-d87dc2613da6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Setup\nSee the accompanying SETUP.md for configuration steps (credentials, trigger, and node setup).",
        "height": 300,
        "width": 200,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        820,
        -1000
      ],
      "id": "5003baf6-9bb2-491b-a42a-ceb8e0512c15",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Setup\nSee the accompanying SETUP.md for configuration steps (credentials, trigger, and node setup).",
        "height": 300,
        "width": 280,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        -1000
      ],
      "id": "19f21036-0918-48af-8c20-2dec827ca6fc",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tools": {
      "main": [
        [
          {
            "node": "Perplexity Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Tool Analysis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output": {
      "ai_outputParser": [
        [
          {
            "node": "Tool Analysis Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Research": {
      "main": [
        [
          {
            "node": "Tool Analysis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Analysis Agent": {
      "main": [
        [
          {
            "node": "Update Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6f8af44a-76a8-4495-974d-d0ccd3270d69",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "ttj5R0VMZmJAZ48f",
  "tags": [
    {
      "createdAt": "2025-07-08T17:12:19.106Z",
      "updatedAt": "2025-07-08T17:12:19.106Z",
      "id": "J08AQ1HDHUe6h4zp",
      "name": "Parallelization"
    }
  ]
}
