public/downloads/ticket-tagging-evaluation.json
{
  "name": "Ticket Tagging Evaluation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        -416
      ],
      "id": "d7d7529d-d9b5-4eaa-8b40-24f10b544ebb",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "KY7391f1ZHRL52Nu",
          "name": "Demo 4/2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "<YOUR_GOOGLE_DOC_ID_HERE>",
          "mode": "list",
          "cachedResultName": "Tagging Evaluation",
          "cachedResultUrl": "<YOUR_GOOGLE_DOC_URL_HERE>"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "<YOUR_GOOGLE_DOC_URL_HERE>"
        }
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.6,
      "position": [
        -160,
        -240
      ],
      "id": "efd3ce01-f8f6-4237-9678-c0beec681bdc",
      "name": "When fetching a dataset row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "s7PIUa59FFmDLn1e",
          "name": "Demo 4/2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2bff1605-23ba-42c4-bb58-6762420fe256",
              "name": "subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "96fc28f4-50b5-406a-b0c3-c4e3ce2ebae9",
              "name": "text",
              "value": "={{ $json.Body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        -240
      ],
      "id": "bad4e9a9-065a-4674-9312-7533bf0a191c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject: {{ $json.subject }}\n\nBody: {{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Here are the categories to chose from:\nBilling\nTechnical Support\nFeature Request\nPassword Reset\nOrder Status\nAccount Management"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        192,
        -240
      ],
      "id": "d77ceadb-5e55-4386-a824-2d167cbfd27c",
      "name": "Tagging Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        176,
        -48
      ],
      "id": "6855b4a2-56cb-4bba-8c59-962afae1551a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "td3utRybtI5wRRtH",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"category\": {\n      \"type\": \"string\",\n      \"description\": \"the category of the email\"\n    },\n    \"priority\": {\n      \"type\": \"string\",\n      \"enum\": [\"Low\", \"Medium\", \"High\"],\n      \"description\": \"the priority of the email (Low, Medium, High)\"\n    }\n  },\n  \"required\": [\"category\", \"priority\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        -48
      ],
      "id": "178eb281-ec1d-4267-a803-7490c7ebea9c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        544,
        -240
      ],
      "id": "51f7d4f5-4c6c-4405-8a76-acbe32b4b1a4",
      "name": "Evaluation"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "<YOUR_GOOGLE_DOC_ID_HERE>",
          "mode": "list",
          "cachedResultName": "Tagging Evaluation",
          "cachedResultUrl": "<YOUR_GOOGLE_DOC_URL_HERE>"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "<YOUR_GOOGLE_DOC_URL_HERE>"
        },
        "outputs": {
          "values": [
            {
              "outputName": "Actual Category",
              "outputValue": "={{ $('Tagging Agent').item.json.output.category }}"
            },
            {
              "outputName": "Actual Priority",
              "outputValue": "={{ $('Tagging Agent').item.json.output.priority }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        720,
        -368
      ],
      "id": "cb4d0647-c4cd-45a7-b026-0f7f46edbfd7",
      "name": "Set Outputs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "s7PIUa59FFmDLn1e",
          "name": "Demo 4/2"
        }
      }
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "categorization",
        "expectedAnswer": "={{ $('When fetching a dataset row').item.json['Expected Category'] }}",
        "actualAnswer": "={{ $('Tagging Agent').item.json.output.category }}",
        "options": {
          "metricName": "Category"
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        928,
        -368
      ],
      "id": "5e2ba069-447e-4015-9a44-2b531352288c",
      "name": "Category"
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "categorization",
        "expectedAnswer": "={{ $('When fetching a dataset row').item.json['Expected Priority'] }}",
        "actualAnswer": "={{ $('Tagging Agent').item.json.output.priority }}",
        "options": {
          "metricName": "Priority"
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        1136,
        -368
      ],
      "id": "98e00ce2-b355-450d-9e79-5c2dd5cb98f1",
      "name": "Priority"
    },
    {
      "parameters": {
        "content": "## Setup\nSee the accompanying SETUP.md for configuration steps (credentials, trigger, and node setup).",
        "height": 480,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        -400
      ],
      "id": "7dd7d0d1-b025-41a5-a66c-17fd378e4bbe",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When fetching a dataset row": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Tagging Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Tagging Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tagging Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Tagging Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Tagging Agent": {
      "main": [
        [
          {
            "node": "Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "Set Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Outputs": {
      "main": [
        [
          {
            "node": "Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Category": {
      "main": [
        [
          {
            "node": "Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bf2fd775-0457-413b-b916-6e9132866e2a",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "kJT41FUcyrIPJyJa",
  "tags": []
}
